<!DOCTYPE html>
<html>
<head>
    <title>TFG</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>

<nav class="navbar">
    <ul>
        <li><a href="/webapp/static">Home</a></li>
        <li><a href="/maxcut">Max-Cut</a></li>
        <li><a href="/tsp">TSP</a></li>
        <li><a href="/knapsack">Knapsack</a></li>
        <li><a href="/graphColor">Graph coloring</a></li>
    </ul>
</nav>


<div id="problem-container">
   <table>
       <tr>
           <td id="imagenProblema"><img src="../static/img/graphColorImg.png" alt="Imagen del problema graph coloring"></td>
           <td>
               <h1>Coloreado de grafos</h1>
               <p>El problema de coloreado de grafos es un desafío fundamental en la teoría de grafos y la optimización combinatoria. El objetivo es asignar colores a los vértices de un grafo de manera que dos vértices adyacentes no tengan el mismo color. La idea principal es encontrar una asignación de colores que cumpla con esta restricción utilizando el menor número posible de colores.

                   El coloreado de grafos tiene aplicaciones prácticas en diversos campos, como la asignación de horarios en instituciones educativas, la asignación de frecuencias en redes de comunicación, el diseño de mapas y la programación de tareas en la planificación de proyectos. Además, el problema es NP-completo, lo que significa que no se conoce ningún algoritmo eficiente que pueda resolver todas las instancias del problema en tiempo polinómico.

                   El enfoque más común para resolver el problema de coloreado de grafos es mediante algoritmos heurísticos y metaheurísticos. Estos algoritmos buscan encontrar soluciones subóptimas utilizando estrategias inteligentes de búsqueda y optimización. Algunos ejemplos populares son el algoritmo greedy, que colorea los vértices en un orden determinado asignando el color disponible más bajo, y el algoritmo de búsqueda local, que mejora iterativamente una solución inicial intercambiando colores entre los vértices.

                   Además de los métodos clásicos, el problema de coloreado de grafos también ha sido abordado utilizando técnicas de computación cuántica, como el uso de algoritmos de optimización cuántica y simuladores cuánticos. Estos enfoques aprovechan las propiedades de superposición y entrelazamiento de la computación cuántica para explorar el espacio de soluciones de manera más eficiente.

                   En resumen, el problema de coloreado de grafos es un desafío importante en la teoría de grafos y la optimización combinatoria, con aplicaciones prácticas en diversos campos. Aunque no existen algoritmos eficientes para resolverlo en tiempo polinómico, se han desarrollado enfoques heurísticos y metaheurísticos, así como técnicas de computación cuántica, para abordar el problema y encontrar soluciones subóptimas.</p>
            </td>
        </tr>
    </table>
</div>

<div id="resolverProblema">
    <fieldset id="cajaGraphColor">
        <legend>Problema</legend>
    <div id="cargarProblema">
        <div id="cargarProblemaGraphColorManual">
            <div>
                <h2>Cargar problema manualmente</h2>
                <!-- Introducir número de nodos del grafo -->
                <div>
                    <input type="text" name="numeroNodosGraphColor" id="numeroNodosGraphColor">
                    <button onclick="seleccionarNumeroNodosGraphColor()">Número de vertices</button> <button onclick="limpiarNumNodosGraphColor()">Limpiar</button>
                    <br>
                    <br>
                    <input type="text" name="numeroColores" id="numeroColores">
                    <button onclick="seleccionarNumeroColores()">Número de colores</button> <button onclick="limpiarNumColores()">Limpiar</button>
                    <br>
                    <br>
                    <input type="text" name="numeroRepGraphColor" id="numeroRepGraphColor">
                    <button onclick="seleccionarNumeroRepsGraphColor()">Número de repeticiones</button> <button onclick="limpiarNumRepsGraphColor()">Limpiar</button>
                </div>
                <br>
                <!-- Agregar las conexiones entre nodos del grafo TERMINAR -->
                <h5>Agregar conexiones</h5>
                <table>
                    <tr>
                        <td>
                            <h5>Nodo 1</h5>
                            <input type="text" name="conexionNodo1" id="conexionNodo1">
                        </td>
                        <td>
                            <h5>Nodo 2</h5>
                            <input type="text" name="conexionNodo2" id="conexionNodo2">
                        </td>
                    </tr>
                </table>
                <button onclick="agregarConexionGraphColor()">Agregar conexión</button> <button onclick="limpiarConexionesGraphColor()">Limpiar</button>
                <br>

                <h2>Resolver el problema</h2>
                <label for="solver">Elige una forma de resolverlo:</label>
                <select name="solver" id="solver">
                    <option value="simuladorLocal">Ejecutar en simulador local</option>
                    <option value="simuladorRemoto">Ejecutar en simulador remoto</option>
                    <option value="ordenadorReal">Ejecutar en ordenador real</option>
                    <option value="annealer">Ejecutar en annealer</option>
                    <option value="annealerSimulatedAnnealingSolver">Ejecutar con simmulated annealing solver</option>
                    <option value="annealerTabuSolver">Ejecutar con tabu solver</option>
                    <option value="annealerSteepestDescentSolver">Ejecutar con steepest descent solver</option>
                </select>
                <button type="submit" class="btn btn-primary" id="comoResolver">Elegir</button>
            </div>

        </div>
        <div id="cargarProblemaGraphColorArchivo">

            <h2>Cargar problema a través de archivo</h2>
            <input type="file" id="archivoTexto" accept=".txt">
            <button onclick="cargarArchivoProblema()">Cargar</button>

            <div>
                <h2>Datos del problema</h2>
                <div id="datosProblemaGraphColor">
                    <h5>Número de vertices: <h5 id="txtNumVerticesGraphColor"></h5></h5>
                    <h5>Número de colores: <h5 id="txtNumColoresGraphColor"></h5></h5>
                    <h5>Número de repeticiones: <h5 id="txtNumRepGraphColor"></h5></h5>
                    <h5>Conexiones: <h5 id="txtConexGraphColor"></h5> </h5>
                </div>
            </div>
        </div>

    </div>

    </fieldset>
</div>

<div id="result">
    <fieldset id="cajaResultado">
        <legend>Salida</legend>
    </fieldset>
</div>

<script src="{{ url_for('static', filename='js/scriptGraphColor.js') }}"></script>

</body>
</html>
