<!DOCTYPE html>
<html>
<head>
    <title>TFG</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!--<script src="../jquery-3.6.4.js"></script> ¿¿ por que no va si no tienes internet no te carga si dejo la otra ?? -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>

<nav class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/maxcut">Max-Cut</a></li>
        <li><a href="/tsp">TSP</a></li>
        <li><a href="/knapsack">Knapsack</a></li>
        <li><a href="/graphColor">Graph coloring</a></li>
    </ul>
</nav>

<div id="problem-container">
   <table>
       <tr>
           <td id="imagenProblema"><img src="../static/img/maxCutImg.png" alt="Imagen del problema Max Cut"></td>
           <td>
               <h1>Max-Cut</h1>
   <p>El problema del corte máximo, o Max-Cut, es un enigma fundamental en la teoría de grafos y la optimización combinatoria. Se basa en un grafo compuesto por nodos interconectados, y el objetivo es dividir estos nodos en dos conjuntos de manera que se maximice el número de aristas que conectan ambos conjuntos. Este desafío es de gran importancia en una variedad de campos, desde la planificación de redes de comunicación hasta la distribución de circuitos integrados en la industria electrónica. <br><br>

       La complejidad del Max-Cut radica en su clasificación como un problema NP-completo, lo que implica que encontrar una solución óptima a medida que el grafo crece se torna un desafío cada vez más intrincado. A medida que crece la relevancia de este problema en aplicaciones prácticas, los investigadores y profesionales han ideado enfoques heurísticos y algoritmos que proporcionan soluciones aproximadas, que, aunque no son óptimas, son eficaces en una amplia gama de situaciones. <br><br>

       El Max-Cut ha llamado la atención de la comunidad científica, lo que ha llevado a explorar soluciones mediante algoritmos cuánticos. Los algoritmos cuánticos han demostrado un potencial significativo para resolver problemas de optimización combinatoria, incluido el Max-Cut. A medida que avanzamos, la resolución de este problema se convierte en un tema de estudio en la teoría de la computación y la optimización, y el desarrollo de algoritmos eficientes y precisos para instancias más complejas del Max-Cut sigue siendo un desafío de investigación activa. <br><br> </p>

               <p> <b>Interpretación de los resultados</b> <br>
                   En este problema los métodos tienen un número de variables distinto en los resultados. En el caso de los simuladores y el ordenador real, el número de variables es el mismo que el de vértices, y se marca con un 1.0 o un -1.0 el grupo al que pertenece <br><br>

                   En el annealer y los métodos clásicos se generan más variables, concretamente el doble, y se utilizan 2 variables para indicar el valor de un vértice. Por ejemplo, si los valores de las dos primeras variables son 0 las dos, el vértice pertenece a un grupo, pero si las dos tienen el valor 1, este pertenece a otro grupo. Por ejemplo, en esta instancia con 5 vértices y resultado </p>

               <h3> <i> x0: 1, x1: 1, x2: 1, x3: 1, x4: 0, x5: 0, x6: 0, x7: 0, x8: 1, x9: 1, </i> </h3>

               <p>los vértices 1, 2 y 5 pertenecen al mismo grupo, y los demás a otro<br> <br>

                   <b>Formato de los archivos </b><br>
                   A continuación se especifica el formato para cargar problemas a través de un archivo .txt. Está compuesto de las siguientes 3 líneas<br> <br>

               <table class="formatoProblema">
                   <tr>
                       <th>Dato de la línea</th>
                       <th>Ejemplo</th>
                   </tr>
                   <tr>
                       <td>Nº de vértices</td>
                       <td>5</td>
                   </tr>
                   <tr>
                       <td>Nº de repeticiones</td>
                       <td>1</td>
                   </tr>
                   <tr>
                       <td>Conexiones</td>
                       <td>1,2,1;0,2,1;</td>
                   </tr>
               </table>
               </p>
            </td>
        </tr>
    </table>
</div>

<div class="flex">

<div id="resolverProblema">
    <fieldset id="cajaMaxCut">
        <legend>Problema</legend>
    <div id="cargarProblema">
        <div id="cargarProblemaMaxCutManual">

            <h2>Cargar problema a través de archivo</h2>

            <div class="flex">
            <input type="file" id="archivoTexto" accept=".txt">
            <button onclick="cargarArchivoProblema()">Cargar</button>
            </div>

            <h2>Cargar problema manualmente</h2>
            <!-- Introducir número de nodos del grafo -->
            <div class="flex">
                <input class="medio" name="numeroNodosMaxCut" id="numeroNodosMaxCut" placeholder="Número de nodos" oninput="validarNumero(this)">
                <button onclick="seleccionarNumeroNodosMaxCut()">Introducir</button> <button onclick="limpiarNumNodosMaxCut()">Limpiar</button>
            </div>

            <br>

            <div class="flex">
                <input class="medio" name="numeroRepMaxCut" id="numeroRepMaxCut" placeholder="Número de repeticiones" oninput="validarNumero(this)">
                <button onclick="seleccionarNumeroRepsMaxCut()">Introducir</button> <button onclick="limpiarNumRepsMaxCut()">Limpiar</button>
            </div>
            <br>
            <!-- Agregar las conexiones entre nodos del grafo -->
            <h5>Agregar conexiones</h5>
            <table>
                <tr>
                    <td>
                        <h5>Nodo 1</h5>
                        <input type="text" name="conexionMaxCutNodo1" id="conexionMaxCutNodo1" placeholder="Nodo 1" >
                    </td>
                    <td>
                        <h5>Nodo 2</h5>
                        <input type="text" name="conexionMaxCutNodo2" id="conexionMaxCutNodo2" placeholder="Nodo 2">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                    <h5>Valor</h5>
                    <input type="text" name="conexionMaxCutValor" id="conexionMaxCutValor" placeholder="Valor" oninput="validarNumero(this)">
                    <button onclick="agregarConexionMaxCut()">Agregar conexión</button> <button onclick="limpiarConexionesMaxCut()">Limpiar</button>
                    </td>
                </tr>
            </table>
        <br>

        </div>
        <div id="cargarProblemaMaxCutArchivo">
            <div>
                <h2>Resolver el problema</h2>
                <select class="solver" name="solver" id="solver">
                    <option value="simuladorLocal">Ejecutar en simulador local</option>
                    <option value="simuladorRemoto">Ejecutar en simulador remoto</option>
                    <option value="ordenadorReal">Ejecutar en ordenador real</option>
                    <option value="annealer">Ejecutar en annealer</option>
                    <option value="annealerSimulatedAnnealingSolver">Ejecutar con simmulated annealing solver</option>
                    <option value="annealerTabuSolver">Ejecutar con tabu solver</option>
                    <option value="annealerSteepestDescentSolver">Ejecutar con steepest descent solver</option>
                </select>
                <button type="submit" class="btn btn-primary" id="comoResolver">Elegir</button>
            </div>

            <div>
                <h2>Datos del problema</h2>
                <div id="datosProblemaMaxCut">
                    <h5>Número de nodos: <h5 id="txtNumNodosMaxCut"></h5></h5>
                    <h5>Número de repeticiones: <h5 id="txtNumRepMaxCut"></h5> </h5>
                        <h5>Conexiones: <h5 id="txtConexMaxCut"></h5> </h5>
                </div>
            </div>
        </div>
    </div>

    </fieldset>
</div>
    <div id="result">
        <fieldset id="cajaResultado">
            <legend>Salida</legend>
            <h5 class="error" id="error_componente_conexion">Falta un componente de la conexión</h5>
            <h5 class="error" id="error_datosIncompletos_MaxCut">Los parámetros introducidos en el problema no son correctos o completos.<br><br>
            Por favor, asegúrese de que el número de nodos y de repeticiones es mayor de 0, y de que existen conexiones.</h5>
        </fieldset>
    </div>
</div>

<footer class="flex">
    <img src="../static/img/logouniovi.png" alt="Logo de la Universidad de Oviedo">
    <div class="grid">
        <p class="texto-footer">Autor: Stelian Adrian Stanci</p>
        <p class="texto-footer">Tutor: Elías Fernández-Combarro Álvarez</p>
    </div>
    <img src="../static/img/logoeii.png" alt="Logo de la Escuela de Ingeniería Informática">
</footer>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="{{ url_for('static', filename='js/util.js') }}"></script>

</body>
</html>
