<!DOCTYPE html>
<html>
<head>
    <title>TFG</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>

<nav class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/maxcut">Max-Cut</a></li>
        <li><a href="/tsp">TSP</a></li>
        <li><a href="/knapsack">Knapsack</a></li>
        <li><a href="/graphColor">Graph coloring</a></li>
    </ul>
</nav>


<div id="problem-container">
   <table>
       <tr>
           <td id="imagenProblema"><img src="../static/img/graphColorImg.png" alt="Imagen del problema graph coloring"></td>
           <td>
               <h1>TSP</h1>
               <p>El Problema del Viajante de Comercio (TSP, por sus siglas en inglés) es un desafío matemático y de optimización que busca encontrar la ruta más corta posible para que un viajante visite un conjunto de ciudades y regrese a su punto de partida. En este problema, se supone que el viajante debe visitar cada ciudad exactamente una vez.

                   El objetivo es minimizar la distancia total recorrida, lo que implica encontrar el recorrido óptimo que pase por todas las ciudades sin repetir ninguna, volviendo al punto de partida y minimizando la distancia total recorrida.

                   El TSP tiene importantes aplicaciones en logística, planificación de rutas, diseño de circuitos integrados, programación de producción y muchas otras áreas donde la optimización de la secuencia de visitas es fundamental.

                   El problema es conocido por ser NP-duro, lo que significa que no se ha encontrado una solución eficiente que funcione en todos los casos. Sin embargo, existen algoritmos y técnicas heurísticas que pueden proporcionar soluciones aproximadas de buena calidad para casos prácticos.

                   Resolver el TSP es de gran interés debido a su complejidad y aplicaciones prácticas, y ha sido objeto de estudio e investigación durante décadas.</p>

            </td>
        </tr>
    </table>
</div>

<div id="resolverProblema">
    <fieldset id="cajaTSP">
        <legend>Problema</legend>
    <div id="cargarProblemaTSP">
        <div id="cargarProblemaTSPManual">
            <div>
                <h2>Resolver el problema</h2>
                <label for="solver">Elige una forma de resolverlo:</label>
                <select name="solver" id="solver">
                    <option value="simuladorLocal">Ejecutar en simulador local</option>
                    <option value="simuladorRemoto">Ejecutar en simulador remoto</option>
                    <option value="ordenadorReal">Ejecutar en ordenador real</option>
                    <option value="annealer">Ejecutar en annealer</option>
                    <option value="annealerSimulatedAnnealingSolver">Ejecutar con simmulated annealing solver</option>
                    <option value="annealerTabuSolver">Ejecutar con tabu solver</option>
                    <option value="annealerSteepestDescentSolver">Ejecutar con steepest descent solver</option>
                </select>
                <button type="submit" class="btn btn-primary" id="comoResolver">Elegir</button>
            </div>

        </div>
        <div id="cargarProblemaTSPArchivo">

            <h2>Cargar problema a través de archivo</h2>
            <input type="file" id="archivoTexto" accept=".txt">
            <button onclick="cargarArchivoProblema()">Cargar</button>

        </div>

    </div>

    </fieldset>
</div>

<div id="result">
    <fieldset id="cajaResultado">
        <legend>Salida</legend>
    </fieldset>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
