<!DOCTYPE html>
<html>
<head>
    <title>TFG</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <!--<script src="../jquery-3.6.4.js"></script> ¿¿ por que no va ?? -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!--<link rel="stylesheet" type="text/css" href="../static/css/estiloNuevo.css">-->
</head>
<body>

<nav class="navbar">
    <ul>
        <li><a href="/maxcut">Max-Cut</a></li>
        <li><a href="/tsp">TSP</a></li>
        <li><a href="#">Problema 3</a></li>
    </ul>
</nav>


<div id="problem-container">
    <h1>TFG</h1>
   <p>Stelian Adrian Stanci</p>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
