<!DOCTYPE html>
<html>
<head>
    <title>Botón</title>
    <script src="../jquery-3.6.4.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>

<div id="maxcut-container">
    <table>
        <tr>
            <td id="imagenProblema"><img src="../static/img/maxCutImg.png" alt="Imagen del problema Max Cut"></td>
            <td>
                <h1>Max-Cut</h1>
    <p>El problema de optimización Max-Cut consiste en particionar los vértices de un grafo en dos conjuntos de manera que el número de aristas entre los dos conjuntos sea máximo.</p>
    <form id="execute-MaxCutLocal" method="POST" action="{{ url_for('execute_MaxCutLocal') }}">
        <button id="execute-btn" type="submit">Ejecutar ejemplo en simulador</button>
    </form>
    <form id="execute-MaxCutReal" method="POST" action="{{ url_for('execute_MaxCutReal') }}">
        <button id="execute-btn-MaxCutReal" type="submit">Ejecutar ejemplo en ordenador real</button>
    </form>
            </td>
        </tr>
    </table>
</div>


<div id="result">
    <fieldset id="cajaResultado">
        <legend>Salida</legend>
    </fieldset>
</div>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>
