<!DOCTYPE html>
<html>
<head>
    <title>TFG</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>

<nav class="navbar">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/maxcut">Max-Cut</a></li>
        <li><a href="/tsp">TSP</a></li>
        <li><a href="/knapsack">Knapsack</a></li>
        <li><a href="/graphColor">Graph coloring</a></li>
    </ul>
</nav>


<div id="problem-container">
   <table>
       <tr>
           <td id="imagenProblema"><img src="../static/img/knapsackImg.png" alt="Imagen del problema knapsack"></td>
           <td>
               <h1>Knapsack</h1>
               <p>El problema de la mochila, también conocido como "knapsack problem" en inglés, es un desafío clásico en la optimización combinatoria. Este problema se basa en una situación en la que se tiene una mochila de capacidad limitada y una serie de objetos con diferentes valores y pesos. El objetivo es determinar qué objetos deben colocarse en la mochila para maximizar el valor total, teniendo en cuenta la capacidad máxima de la mochila.

                   El problema se plantea de la siguiente manera: se tienen n objetos, cada uno con un valor y un peso asociados. La mochila tiene una capacidad máxima, es decir, solo puede contener hasta cierto peso. El desafío radica en seleccionar una combinación de objetos que maximice el valor total sin superar la capacidad de la mochila.

                   Existen diferentes variantes del problema de la mochila, como la versión binaria en la que se debe tomar una decisión binaria (tomar o no tomar) para cada objeto, o la versión fraccionaria en la que se pueden tomar fracciones de los objetos.

                   El problema de la mochila es conocido por ser NP-duro, lo que significa que no hay un algoritmo eficiente conocido para resolverlo en tiempo polinomial para todas las instancias posibles. Sin embargo, se han desarrollado algoritmos y técnicas heurísticas que proporcionan soluciones aproximadas eficientes en muchos casos.

                   El problema de la mochila tiene aplicaciones prácticas en diversos campos, como la gestión de inventarios, la optimización de recursos en logística, la planificación financiera y la asignación de recursos en proyectos. Su estudio y resolución han contribuido al desarrollo de algoritmos y estrategias de optimización en general.</p>
            </td>
        </tr>
    </table>
</div>

<div id="resolverProblema">
    <fieldset id="cajaKnapsack">
        <legend>Problema</legend>
    <div id="cargarProblema">
        <div id="cargarProblemaKnapsackManual">

            <h2>Cargar problema manualmente</h2>
            <!-- Introducir peso máximo -->
            <div>
                <input type="text" name="pesoMaximo" id="pesoMaximo">
                <button onclick="seleccionarPesoMaximoKnapsack()">Peso máximo</button> <button onclick="limpiarPesoMaximoKnapsack()">Limpiar</button>
            </div>
            <br>
            <!-- Agregar objetos -->
            <h5>Agregar objeto</h5>
            <table>
                <tr>
                    <td>
                        <h5>Valor</h5>
                        <input type="text" name="valorObjeto" id="valorObjeto">
                    </td>
                    <td>
                        <h5>Peso</h5>
                        <input type="text" name="pesoObjeto" id="pesoObjeto">
                    </td>
                </tr>
            </table>
            <button onclick="agregarObjetoKnapsack()">Agregar objeto</button> <button onclick="limpiarObjetoKnapsack()">Limpiar</button>
            <br>

            <div>
                <h2>Resolver el problema</h2>
                <label for="solver">Elige una forma de resolverlo:</label>
                <select name="solver" id="solver">
                    <option value="simuladorLocal">Ejecutar en simulador local</option>
                    <option value="simuladorRemoto">Ejecutar en simulador remoto</option>
                    <option value="ordenadorReal">Ejecutar en ordenador real</option>
                    <option value="annealer">Ejecutar en annealer</option>
                    <option value="annealerSimulatedAnnealingSolver">Ejecutar con simmulated annealing solver</option>
                    <option value="annealerTabuSolver">Ejecutar con tabu solver</option>
                    <option value="annealerSteepestDescentSolver">Ejecutar con steepest descent solver</option>
                </select>
                <button type="submit" class="btn btn-primary" id="comoResolver">Elegir</button>
            </div>

        </div>
        <div id="cargarProblemaKnapsackArchivo">

            <h2>Cargar problema a través de archivo</h2>
            <input type="file" id="archivoTexto" accept=".txt">
            <button onclick="cargarArchivoProblema()">Cargar</button>

            <div>
                <h2>Datos del problema</h2>
                <div id="datosProblemaKnapsack">
                    <h5>Peso máximo: <h5 id="txtPesoMaximo"></h5></h5>
                    <h5>Número de objetos: <h5 id="txtNumObjetos"></h5></h5>
                    <h5>Valores de los objetos: <h5 id="txtValores"></h5></h5>
                    <h5>Pesos de los objetos: <h5 id="txtPesos"></h5></h5>
                </div>
            </div>
        </div>

    </div>

    </fieldset>
</div>

<div id="result">
    <fieldset id="cajaResultado">
        <legend>Salida</legend>
    </fieldset>
</div>

<script src="{{ url_for('static', filename='js/scriptKnapsack.js') }}"></script>

</body>
</html>
