body{
    background-color: #f2f2f2;
    margin: 0.75em 0 0;
    padding-bottom: 3em;
    font-family: 'Palatino', Palatino Linotype, serif;
}

#cargarProblema{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: 4%;
    padding-left: 1em;
    padding-right: 1em;
}

#resolverProblema{
    margin: 0 auto;
    width: 85%;
    padding: 1em 1em 1em 5.5em;
    flex: 4;
}

.flex{
    display:flex;
    justify-content: space-between;
}

.inline{
    display:inline;
}

.centrado{
    margin: 0 auto;
}

.reducido{
    width: 25%;
}

.muy_reducido {
    width: 15%;
}

#problem-container {
    max-width: 85%;
    margin: 3em auto 4em;
    border: 10px double;
    padding: 1em;
    background-color: white;
    box-shadow: 7px 7px;

    position: relative;
}

#result {
    width: 85%;
    padding: 1em 5.5em 1em 1em;
    margin: 0 auto;
    flex: 2;
}

#imagenProblema{
    border-right: none;
    padding-right: 5em;
}

#imagenProblema img{

    border: 10px solid black;
    max-width: 10em;
    max-height: 10em;
    position: absolute;
    vertical-align: center;
    left: -8%;
    top: 5%;
    padding: 0.5em 0.5em 0.5em 0.75em;
    z-index: 200000;
    border-inline-color: rgb(128, 128, 128);
    background: white;
}

#result img {
    width: 50%;
    height: auto;
    margin: 0 auto;
}

td{
    padding: 0em 1em;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.5em;
}

h5 {
    margin: 0.5em;
    font-size: 1.05em;
}

p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

button {
    padding: 0.25em 0.8em;
    background-color: white;
    color: #000;
    border: 2px groove #000;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition-duration: 0.3s;
    box-shadow: 2px 2px;
}

button:hover {
    background-color: rgba(255, 236, 11, 0.9);
    color: #262626;
}

input {
    padding: 0.25em;
}

fieldset {
    border: thick solid #000;
    background-color: #ececec;
    padding-bottom: 3em;
    box-shadow: 7px 7px lightgray;
}

legend {
    color: #FFF;
    background: #000;
    font-size: 1.5em;
    padding: 5px;

}

label {
    font-size: 1.1em;
}

.navbar {
    background-color: black;
    color: white;
    text-align: center;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: large;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar ul li {
    display: inline-block;
    padding: 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    margin: 0 1em;
}

legend{
    padding-right: 0.5em;
    padding-left: 0.5em;
}

input[type=file]::file-selector-button {
    background: #ffffff;
    padding: 0.25em 0.5em;
    margin-right: 1em;
    border-radius: 3px;
    border: 2px dashed #000000;
    color: #000000;
    cursor: pointer;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #c7c7c7;
}

.solver{
    margin-right: 0.5em;
    padding-bottom: 0.43em;
    padding-top: 0.43em;
}

select {
    background: rgb(255, 255, 255);
    color: #000000;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

select:hover {
    background: rgba(255, 255, 255, 0.3);
    color: #000000;
}

select option {
    background: rgb(255, 255, 255);
    color: #2c2c2c;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

.formatoProblema {
    width: 35%;
    border-collapse: collapse;
    margin: 0 auto;
    font-size: 1.2em;
    text-align: center;
    line-height: 2em;
}

.formatoProblema th td {
    text-align: center;
    padding: 10px;
}

.formatoProblema th {
    background-color: #f2f2f2; /* Color de fondo para encabezados */
}

h3 {
    margin: 0 auto;
    text-align: center;
    font-weight: inherit;
}

#contenedor-titulo{

    max-width: 90%;
    margin: 3em auto 1em;
    border: 5px double;
    box-shadow: 7px 7px;
    position: relative;
    padding-bottom: 0.5em;
    font-size: small;
    left: -7%;
}

.izquierda{
    width: 90%;
    text-align: end;
    margin-top: 0em;
}

footer{
    max-height: 5em;
    background-color: white;
    color: black;
    text-align: center;
    font-size: small;
    margin-top:5%;
    padding: 2em 5em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.grid{
    grid-template-columns: auto;
}

.texto-footer{
    margin: auto auto 1em;
}

footer > img{
    max-height: inherit;
    max-width: inherit;
}

.texto-descripcion{
    align-self: center;
    margin: 3em auto 4em;
    text-align: justify;
    width: 80%;
}

.botones-sesiones{
    display:flex;
    margin: 0 auto;
    gap: 3%;
    justify-content: center;
}

.medio{
    width: 50%;
}

.error{
    display:none;
    color: crimson;
}